:root {
    --clr-bg-main: #1E3A8A;
    --clr-bg-secondary: #F97316;
    --bg-clr: #0e1117;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overscroll-behavior: none;
    background-color: #000 !important;  
    color: white !important;
}

body {
    margin: 0;
    padding-top: 50px;
    font-weight: 500;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blue-text {
    background: linear-gradient(90deg, #2586ff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.m-section {
    min-height: 100vh; /*each section fill whole screen*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-pic {
    height: 300px;
    width: 300px;
    background-image: url(assets/dev-img.png);
    border-radius: 50%;
    margin: 1rem;
    margin-inline: auto;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

.wrapper {
    margin-inline: auto;
    width: min(90%, 900px);
} 

.two-col-layout {
    display: grid;
    gap: 1rem;

    @media (width > 600px) {
        grid-template-columns: 1fr 1fr;
    }
}

.ruler {
    height: 0.2rem;
    width: 30%;
    border-radius: 1rem;
    margin: auto;
    background-color: gray;
}

.about,
.intro {
    text-align: justify;
}

.card {
    height: 300px;
    width: 300px;
    background-color: lightskyblue;
}

.card-img {
    background-color: beige;
    padding: 1rem 1rem 0 1rem;
}

.card-img h5 {
    text-align: justify;
}

.card-img div {
    display: flex; 
    justify-content: space-between;
}

img {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.badges {
    display:flex; 
    flex-wrap:wrap; 
    gap:10px; 
    justify-content:center;
}

p {
    font-size: large;
}

b {
    text-shadow: #f8ce2673 1px 0 10px;
}

.carousel-container {
    background-color: #0e1117;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 90vw;
}

.fa-circle-arrow-up {
    font-size: 2rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    color: #ffffff7a;
}

.fa-circle-arrow-left {
    font-size: 2rem;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    color: #ffffff7a;  
}