.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @media (width > 600px) {
        grid-template-columns: 1fr 1fr;
    }
}

.skill-items {
    border: 0.25px solid #2586ff;
    border-radius: 2rem;
    justify-self: center;
    padding: 1.25rem;
}

.skill-items h4 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 0 0 5px gray;
    text-shadow: #00ccff 1px 0 10px;
}

.badges {
    display:flex; 
    flex-wrap:wrap; 
    gap:10px; 
    justify-content:center;
}