header {
    padding: 1rem 2rem 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    font-weight: 900; 
    font-size: large;

    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block; 
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.menu_btn {
    display: none;
}

.hamburger-menu {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;

    display: none;
}

/* mobile screen size => navs -> menuIcon */
@media (max-width: 768px) {
    .nav-items { /*hide nav list*/
        display: none;
        position: absolute;
        top: 4.2rem;
        right: 0;
        flex-direction: column;
        width: 200px;
        padding: 1rem;

        background-color: rgb(0 0 0 / 84%) !important;
        border-left: 2px solid #ffffff99;
        border-bottom: 2px solid #ffffff99;
        border-bottom-left-radius: 1rem;
        transition: all 0.3s ease;
    }

    .hamburger-menu { /*show navs*/
        display: flex;
    }  

    .active { /*show when menu icon clicked*/
        display: flex;
    }
}