.blogs-a {
  margin-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-section {
  margin-bottom: 3rem !important;
  background-color: #8080806b;
  padding: 1rem;
  border-radius: 1rem;
}

.category-section h2 {
  font-size: 1.5rem !important;
  margin-bottom: 1rem !important;
  text-align: center;
}

.carousel {
  display: flex !important;
  overflow-x: scroll;
  gap: 1rem;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
}

.blog-card-a {
  background-color: #13181e;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 1rem;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
}

.blog-card-a img {
  max-width: 200px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.blog-card-a h3, .blog-card-a p {
  font-size: small;
}

.blog-card-a a i {
  font-size: 0.75rem;
}