#blogs {
  margin-top: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-section {
  margin-bottom: 3rem !important;
}

.category-section h2 {
  font-size: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.carousel {
  display: flex !important;
  overflow-x: scroll;
  gap: 1rem;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
}

.blog-card-a {
  background-color: rgb(139, 166, 203);

  border-radius: 12px;
  padding: 1rem;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
}

.blog-card-a img {
  max-width: 200px;
}

.blog-card-a h3, .blog-card-a p {
  font-size: small;
}

.blog-card-a:hover {
  transform: translateY(-5px);
}